name: CI

on:
  push:
  pull_request:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        runner: [ubuntu-latest, macos-latest]
        go: ['1.25', '1.26']

    runs-on: ${{matrix.runner}}
    name: OS ${{matrix.runner}} Go ${{matrix.go}}

    steps:
    - uses: actions/checkout@v2

    - name: Install Go
      uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go }}
        check-latest: true

    - name: Show Go Version and environment
      run: |
        go version
        go env

    - name: Install dependencies
      run: |
        make

    - name: Run tests
      run: |
        GOBIN=$HOME/.local/bin go install honnef.co/go/tools/cmd/staticcheck@2026.1
        GOBIN=$HOME/.local/bin go install github.com/golangci/golangci-lint/v2/cmd/golangci-lint@v2.9.0
        make test
